<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jinja V3 Forum{% endblock %}</title>
    <style>
        .center{
            text-align: center;
        }
        .back{
            text-align: left;
            color: coral;
            font-size: x-large;
        }
        .log_out{
            text-align: right;
        }
        .ask_question{
            color: olive;
            font-size: xx-large;
        }
    </style>
</head>
<body>
<div class="log_out">
    {% block log_out %}{% endblock %}
</div>
<div class="back">
    {%  block back_button %}{% endblock %}
</div>
<div class="center">
    <h1>{% block h1 %}{% endblock %}</h1><br>

    <div class="ask_question">
        {% block ask_question %}{% endblock %}
    </div>

    <h4>{%block h4%}{% endblock %}</h4>

    {% block display_question %}{% endblock %}

    {% block edit %}{% endblock %}

    {% block add_new %}{% endblock %}

    {% block table %}
    <table border="1">
        {% if forum_posts != [] %}
            <tr>
            {% block categories %}{% endblock %}
        {% else %}
            {{ 'There is no question yet' }}
            </tr>
        {% endif %}
        {% if forum_posts != [] %}
            {% for QNA in forum_posts %}
                <tr>
                {% for key, value in QNA.items() %}
                    {% if key == 'title' %}
                        <td><a href="/question/{{ QNA['id'] }}?view=true">{{ value }}</a></td>
                    {% else %}
                        {% if key not in ["question_id", 'id'] %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if user != QNA['username'] %}
                    {% if QNA['question_id'] %}
                        <form action='/answer/{{ QNA["id"] }}/vote_up'>
                            <td><button style="color: darkblue"><strong>👍</strong></button></td>
                        </form>

                        <form action='/answer/{{ QNA["id"] }}/vote_down'>
                            <td><button style="color: darkred"><strong>👎</strong></button></td>
                        </form>

                    {% else %}
                        <form action='/question/{{ QNA["id"] }}/vote_up'>
                            <td><button style="color: darkblue"><strong>👍</strong></button></td>
                        </form>

                        <form action='/question/{{ QNA["id"] }}/vote_down'>
                            <td><button style="color: darkred"><strong>👎</strong></button></td>
                        </form>
                    {% endif %}
                {% else %}
                    {% if QNA['question_id'] and QNA['username'] == user %}
                        <form action='/answer/{{ QNA["id"] }}/edit'>
                            <td><button><strong>Edit</strong></button></td>
                        </form>

                        <form action='/answer/{{ QNA["id"] }}/delete'>
                            <td><button style="color: red"><strong>Delete</strong></button></td>
                        </form>

                    {% else %}

                        <form action='/question/{{ QNA["id"] }}/edit'>
                            <td><button><strong>Edit</strong></button></td>
                        </form>

                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% endblock %}
</div>
</body>
</html>