<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>{% block h1 %}{% endblock %}</h1><br>

<h4>{%block h4%}{% endblock %}</h4>

{% block table %}
<table border="1">
    {% if questions != [] %}
        <tr>
        {% for key in questions[0].keys() %}
        <th>
            <a href="/list?order_by={{ key }}&order_direction=asc">&#8648</a>
            {{ key.upper() if '_' not in key else key.replace('_', ' ').upper() }}
            <a href="/list?order_by={{ key }}&order_direction=desc">&#8650</a>
        </th>
        {% endfor %}
    {% else %}
        {{ 'There is no question yet' }}
        </tr>
    {% endif %}
    {% if question != [] %}
            {% for question in questions %}
                <tr>
                {% for key, value in question.items() %}
                    {% if key == 'title' %}
                        <td><a href="/question/{{ question['id'] }}">{{ value }}</a></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
    {% endif %}
</table>
{% endblock %}
</body>
</html>